# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled
*.pyc
__pycache__/
 
# Logs
logs/
*.log

# OS
.DS_Store

# LiveKit & WebRTC specifics if any
*.ogg
*.wav
*.webm

# Secret Keys
*firebase-adminsdk*.json
*-key.json
